*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --neutral: #eff5f8;
    --dark: #081D5F;
    --content: #AAADB3 ;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: var(--neutral);
  color: var(--dark);
}

#wrapper {
    display: flex;
    margin: 20px auto;
    padding: 85px ;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

#container-title, .container-info, .container-scorebox, 
#container-quiz, #quiz-questions, #quiz-options {
    /*display: block;*/
    text-align: center;
    transition: 0.3s;
    width: 60vw;
    padding-top: 20px;
    
}

h1 {
    margin: 40px auto;
    font-size: 2em;
    font-weight: bold;
}

h2, h3 {
    position: absolute;
    top: -10px;
    margin: 40px auto;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    right: 20px;
}

h3 {
    left: 20px;
}

#start {
    background-color: #001b44;
    color: whitesmoke;
    margin: 20px  auto;
    border-radius: 4px;
    border-style: none;
    box-shadow: rgba(34,36,38,.15) 3px 0 0 4px inset;
    font-size: 1.3em;
    padding: 15px;
    width: 170px;
}

#start:hover {
    cursor: pointer;
    box-shadow: none;
    transform: none;
}

.btn-options {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.btn-options:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 100ms;
    box-shadow: 0 0.4rem  1.4rem 0 var(--content)
}

.option-answer {
    padding: 16px;
    width: 100%;
    box-shadow: 0 0.4rem  1.4rem 0 var(--content);
}

.correct {
    background:linear-gradient(32deg, rgba(11,223,36) 0%, rgb(41,232,111) 100%);
}

.wrong {
    background: #B5163F ;
}

.nextbtn {
    border: 1px solid var(--dark);
    padding: 5px;
    border-radius: 5px;
}



  .hide-container-quiz {
    display: none;
  }